body {
  margin: 0px;
  background-color: #2C3333;
}

.header {
  display: flex;
  background-color: #395B64;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 5vw;
  font-size: 250%;
  color: #E7F6F2;
}

.footer {
  display: flex;
  background-color: #395B64;
  color: #E7F6F2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3vw;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}